<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>Agregar Camarero</title>
  </head>
  <body>
    <h1>Agregar Camarero</h1>
    <form method="post" autocomplete="off">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Agregar</button>
    </form>
    <a href="{% url 'manage_user' %}">Volver a la gestión de usuarios</a>
  </body>
</html>
