<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Panel de Administración</title>
  </head>
  <body>
    <h1>Reservas Totales</h1>
    <ul>
      {% for reservation in reservations %}
      <li>
        {{ reservation.menu_item }} - {{ reservation.user.username }} - {{
        reservation.reservation_date }}
      </li>
      {% endfor %}
    </ul>

    <ul>
      <li><a href="{% url 'home' %}">Volver</a></li>
      <li><a href="{% url 'manage_user' %}">Gestión de Usuarios</a></li>
      <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
    </ul>
  </body>
</html>
