{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />

    <title>Inicio - Restaurante</title>
  </head>
  <body>
    <h1>Bienvenido al Restaurante</h1>
    {% if user.is_authenticated %}
    <p>Hola, {{ user.username }}. Elige una opción:</p>

    {% if is_waiter %}
    <a href="{% url 'waiter_dashboard' %}">Ir al Panel de Mesero</a>
    {% else %}
    <a href="{% url 'menu' %}">Ver el Menú</a>
    <a href="{% url 'reservations_list' %}">Ver Reservaciones</a>

    {% if is_admin %}
    <a href="{% url 'manage_user' %}">Gestión de Usuarios</a>
    {% endif %} {% endif %}
    <a href="{% url 'logout' %}">Cerrar Sesión</a>
    {% else %}
    <p>
      Por favor, <a href="{% url 'login' %}">inicia sesión</a> para acceder a
      más opciones.
    </p>
    {% endif %}
  </body>
</html>
