{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 bg-light p-4 rounded shadow">
    <h1 class="text-center text-primary mb-4">Gestión de Compras</h1>
    <table class="table table-hover table-bordered">
        <thead class="table-success text-center">
            <tr>
                <th>ID de Compra</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
            <tr>
                <td class="text-center">{{ compra.id }}</td>
                <td class="text-center">{{ compra.cliente.username }}</td>
                <td class="text-center">{{ compra.fecha }}</td>
                <td class="text-center {% if compra.estado == 'compra_cancelada' %}text-danger fw-bold{% elif compra.estado == 'terminado' %}text-success fw-bold{% else %}text-warning fw-bold{% endif %}">
                    {{ compra.get_estado_display }}
                </td>
                <td>
                    <form method="POST" action="{% url 'actualizar_estado_compra' compra.id %}">
                        {% csrf_token %}
                        <div class="d-flex justify-content-center align-items-center">
                            <select name="estado" class="form-select form-select-sm w-auto me-2">
                                <option value="en_preparacion" {% if compra.estado == 'en_preparacion' %}selected{% endif %}>
                                    En Preparación
                                </option>
                                <option value="terminado" {% if compra.estado == 'terminado' %}selected{% endif %}>
                                    Terminado
                                </option>
                                <option value="compra_cancelada" {% if compra.estado == 'compra_cancelada' %}selected{% endif %}>
                                    Compra Cancelada
                                </option>
                            </select>
                            <button type="submit" class="btn btn-sm btn-primary">Actualizar</button>
                        </div>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center text-danger">No hay compras registradas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
