{% extends 'base.html' %}

{% block content %}
<h2>Mis Compras</h2>
{% if compras %}
<ul>
    {% for compra in compras %}
    <li>
        <strong>Fecha de Compra:</strong> {{ compra.fecha_compra }}<br>
        <strong>Platillos:</strong>
        <ul>
          {% for pedido in compra.pedidos.all %}
          <li>{{ pedido.platillo.nombre }} - ${{ pedido.platillo.precio|floatformat:0 }}</li>
          {% endfor %}
          
        </ul>
        <strong>Total:</strong> ${{ compra.total }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No has realizado ninguna compra.</p>
{% endif %}
<a href="{% url 'menu' %}">Volver al Menú</a>
{% endblock %}
